{% extends 'index.html' %}
{% load markdownify %}
{% load i18n %}
{% load base_tags %}
{% load static from staticfiles %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
{% block hero %}
{% if custom_theme.welcome_theme == 'JUMBOTRON_BG' or not slides %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-5 col-md-8">
            <img src="assets/img/hero-carousel/hero-carousel-1.svg" alt="" class="img-fluid img">
          </div>

          <div class="col-lg-9 text-center">
            <h2>PUSAT GEOSPATIAL NEGARA</h2>
            <p>Infrastruktur Data Geospatial Negara (MyGDI), merupakan satu program nasional bagi membangunkan infrastruktur perkongsian data geospatial antara agensi-agensi pembekal dan pengguna data geospatial. Menerusi infrastruktur ini, satu perkongsian maklumat dan kerjasama antara agensi diwujudkan bagi menggalakkan pembangunan produk-produk geospatial dengan lebih kos efektif, cekap dan cepat. Pusat Geospatial Negara (PGN) merupakan penyelaras bagi program MyGDI, telah membangunkan pelbagai platform perkongsian maklumat geospatial bagi menyokong dan memudah cara proses membuat keputusan dan perancangan oleh pihak pengurusan mengikut sektor berkaitan. </p>
            <a href="#featured-services" class="btn-get-started scrollto ">KLIK UNTUK MULA</a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-5 col-md-8">
            <img src="assets/img/hero-carousel/hero-carousel-2.svg" alt="" class="img-fluid img">
          </div>

          <div class="col-lg-9 text-center">
            <h2>KENAPA ANDA DI SINI?</h2>
            <p>[ Terokai Katalog Metadata | Terokai apa di Sekeliling Anda | Kongsi Maklumat Geospatial | Ketahui Mengenai Data Geospatial | Data Geospatial yang tersedia untuk anda | Bagaimana memohon data geospatial?]</p>
            <a href="#featured-services" class="btn-get-started scrollto ">KLIK UNTUK MULA</a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-5 col-md-8">
            <img src="assets/img/hero-carousel/hero-carousel-3.svg" alt="" class="img-fluid img">
          </div>

          <div class="col-lg-9 text-center">
            <h2>MyMAPS</h2>
            <p>Terokai pelbagai inisiatif geospatial yang telah dibangunkan untuk membantu anda menggunakan maklumat geospatial secara efektif atau sebagai rujukan dalam pembangunan dan perkongsian data geospatial.</p>
            <a href="#featured-services" class="btn-get-started scrollto ">KLIK UNTUK MULA</a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->

    <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators"></ol>

  </section><!-- End Hero Section -->
{% else %}
<div class="geonode-slide-show">
  <div class="jumbotron jumbotron--no_bg">
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        {% if slides.count > 1%}
        <ol class="carousel-indicators">
          {% for slide in slides %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter | add:'-1' }}"
            class="{% if forloop.counter == 1 %}active{%endif%}"></li>
          {% endfor %}
        </ol>
        {% endif %}
        {% with jumbotron_welcome_title=custom_theme.jumbotron_welcome_title|default:"Welcome"|template_trans %}
        <h1 class="carousel-header">{% trans jumbotron_welcome_title %}</h1>
        {% endwith %}
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for slide in slides %}
          <div class="item {% if forloop.counter == 1 %}active{%endif%}">
            {% if slide.jumbotron_slide_image %}
            <img src="{{ slide.jumbotron_slide_image_thumbnail.url }}" alt="{{ slide.slide_name }}">
            {% endif %}
            {% if not slide.hide_jumbotron_slide_content %}
            <div class="carousel-caption">
              {% with jumbotron_slide_content=slide.jumbotron_slide_content|markdownify %}
              {% trans jumbotron_slide_content %}
              {% endwith %}
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <!-- Left and right controls -->
        {% if slides.count > 1%}
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock hero %}