{% load static from staticfiles %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}">
    <meta name="author" content="">
    <title>{% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}
    {% endif %}{% endblock title %}</title>
 <!-- Bootstrap core CSS -->
    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- <link href="{% static "lib/css/bootstrap.css" %}" rel="stylesheet" /> -->

 <!-- Custom styles for this template -->
</head>
<body>
    {% block header %}
        {% include 'blog/header.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        {% include 'blog/footer.html' %}
    {% endblock %}
    <!-- Bootstrap core JavaScript -->
     <script src="{% static "lib/js/jquery.js" %}"></script>
     <script src="{% static "lib/js/bootstrap.js" %}"></script>
    </body>
</html>