{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Edit Kamus" %} {% endblock %}

{% block middle %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon text-white mr-2" style="background-color: #0d9815;">
            <i class="mdi mdi-book-multiple menu-icon"></i>
        </span>
    </h3>
</div>
<div class="container container-fixed-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default col-lg-12">
                    <div class="card-header  separator">
                        <div class="card-title" style="font-size: 15px"><strong>Edit Kamus</strong>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top: 3%;">
                        <form name="myForm" id="form-data-request" action="{% url "updatekamus" %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default required">
                                        <label style="font-size: 15px">Title</label>
                                        <input type="text" style="font-size: 15px" value="{{kamus.title}}" class="form-control" id="title" name="title" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                        <label style="font-size: 15px">Description</label>
                                        <textarea class="form-control" style="font-size: 15px"  name="description" id="description" maxlength="500" rows="10" cols="30" required>{{kamus.description}}</textarea>
                                        <input type="text" style="font-size: 15px" value="{{kamus.id}}" class="form-control" id="kamus_id" name="kamus_id" hidden>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-10 pull-right" style="margin-top: 3%;">
                                    <button style="float: right; border-radius: 50px; width: 100px; font-size: 15px" class="btn btn-success btn-cons m-b-10"
                                        type="submit" name="submit" value="submit">
                                        <span class="bold">Update</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock middle %}