{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Kamus" %} {% endblock %}

{% block middle %}
<div class="page-header">
    <h3 class="page-title">
    </h3>
</div>
<div class="container">
    <a href="/kamus/create"  class="btn btn-success btn-cons" style="color: white;border-radius: 20px;font-size: 15px; float:right; width: 80px">
        Create
    </a>
    <div class="card" style="width: 100%; margin-top: 50px;">

        <div class="card-body">

            <div class="card-body">
                <table class="table table-user-profile">
                    <tbody>
                        {% for kamus in kamusList %}
<tr>
                                <td class="table-user-profile-attribute" style="width:20%; font-size: 15px">
                                    {{kamus.title}}
                                </td>
                                <td style="font-weight:bold; width:30%; font-size: 15px">
                                    {{kamus.description}}
                                </td>
                                <td style="font-weight:bold; width:10%; font-size: 15px">
                                <button style="border-radius: 50px; width: 80px; font-size: 15px"
                                        onclick="return confirmEdit('{{kamus.id}}')" class="btn btn-primary">
                                        <strong>Edit</strong></button>
                                    <button style="border-radius: 50px; width: 80px; font-size: 15px"
                                        onclick="return confirmDelete('{{kamus.id}}')" class="btn btn-danger">
                                        <strong>Delete</strong></button>    
                                </td>
                            </tr>
                        {% endfor %}
                             
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function confirmEdit (id) {
        url = window.location.href
        location.href = url + 'kamus/edit/' + id
    }

    function confirmDelete (id) {
        url = window.location.href
        location.href = url + 'kamus/delete/' + id
    }
</script>
{% endblock middle %}